html {
  background: rgb(196, 68, 69);
  background: linear-gradient(
    90deg,
    rgba(196, 68, 69, 1) 0%,
    rgba(82, 92, 126, 1) 100%
  );
}

body {
  height: 100%;
  width: 100%;
  margin: -10px 0 0 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-size: 150%;
  /* font-family: "Courier New", Courier, sans-serif !important; */
  color: #fff;
  text-align: center;
}

/* ROOT FONT STYLES */

* {
  font-family: Arial, sans-serif;
  color: #fff;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  margin: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }

  .title {
    text-align: center !important;
  }

  .cover {
    max-width: 400px !important;
    max-height: 400px !important;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }

  .title {
    text-align: center !important;
  }

  .cover {
    max-width: 500px !important;
    max-height: 500px !important;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }

  .title {
    text-align: center !important;
  }

  .cover {
    max-width: 500px !important;
    max-height: 500px !important;
  }
}

.title {
  text-align: left;
  margin-bottom: 10px;
}

.buttons {
  flex: 1;
}

.buttons1 {
  flex: 1;
}

.button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #000;
  border: #fff 3px solid;
  color: #fff;
  font-size: 1.1em;
}

.button1 {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #000;
  border: #fff 1px solid;
  color: #fff;
  font-size: 0.85em;
}

.cover {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
}

.footer {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  color: white;
  text-align: center;
}

.listen-now {
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}

.spotify-btn {
  border: 0;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 48px;
  background-color: #1db954;
}
